:root {
  --slider-navigator-color:#fff;
  --slider-navigator-hover-color:#fff;
  --slider-heading-color:#fff;
  --slider-title-color:#fff;
  --slider-button-text-color:#fff;
  --slider-button-text-hover-color:#fff;
  --slider-button-color:#333;
  --slider-button-icon-color:#fff;
  --slider-heading-size:35px;
  --slider-title-size:22px;
  --slider-button-width:200px;
}


/*---------------Start-default-btn-two----------------------*/
/*---------------Start-default-btn-two----------------------*/
button.owl-prev{
  border-radius: 50% !important;
}
.slider-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.slider-button.default-btn-one {
  width: var(--slider-button-width);
  height: auto;
}

button.default-btn-one.btn.slider-button.mt-4 {
  background: none !important;
}

.slider-button.default-btn-one .circle {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--slider-button-color) !important;
  border-radius: 1.625rem;
}

.slider-button.default-btn-one .circle .icon {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.slider-button.default-btn-one .circle .icon.arrow {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: var(--slider-button-icon-color) !important;
}

.slider-button.default-btn-one .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid var(--slider-button-icon-color);
  border-right: 0.125rem solid var(--slider-button-icon-color);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.slider-button.default-btn-one .button-text {
  -webkit-transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: -6px;
  left: 15px;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: var(--slider-button-text-color) !important;
  font-weight: 700;
  line-height: 2.2;
  text-align: center;
  text-transform: uppercase;
}
.slider-button:hover .circle {
  width: 100%;
}

.slider-button:hover .circle .icon.arrow {
  -webkit-transform: translate(1rem, 0);
  transform: translate(1rem, 0);
}

.slider-button:hover .button-text {
  color: var(--slider-button-text-hover-color) !important;
}

/*---------------End-default-btn-two----------------------*/
/*---------------------------------------------------------
            Start- Hero section
---------------------------------------------------------*/
.hero-full .owl-nav .owl-prev {
  border-radius: 50%;
  position: absolute;
  top: 44%;
  left: 0;
}
.hero-full .owl-nav .owl-next {
  position: absolute;
  top: 44%;
  right: 0;
  border-radius: 50%;
}

.hero-slider-nav {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background: var(--slider-navigator-color);
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: all 0.1s ease-in-out;
}
button.owl-next {
  background: transparent !important;
}
button.owl-prev {
  background: transparent !important;
}
.owl-theme .owl-dots .owl-dot{
  background-color:transparent !important;
}
.owl-theme .owl-dots .owl-dot:hover{
  background-color:transparent !important;
}
.owl-theme .owl-dots .owl-dot.active span {
  background: var(--slider-navigator-color) !important;
}


.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--slider-navigator-hover-color) !important;
}
.hero-slider-nav:hover {
  background-color: var(--slider-navigator-hover-color);
}

#awp-slider .awp-slider-item {
  padding-top: 50px;
  padding-bottom: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  z-index: 1;
  height: 600px;
}
#awp-slider .awp-slider-item::after {
  content: "";
  clear: both;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}
#awp-slider .awp-slider-caption h2 {
  padding-top: 60px;
  font-size: var(--slider-heading-size);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  margin-bottom: 8px;
  color: var(--slider-heading-color);
  text-align:center;
}
#awp-slider .awp-slider-caption p {
  margin-top: 20px;
  font-family: "Catamaran", sans-serif;
  text-align:center;
  font-size: var(--slider-title-size);
  line-height: 1.8;
  color: var(--slider-title-color);
  letter-spacing: 0.5px;
}
.awp-slider-btn{
  text-align:center;
}
button.default-btn-one.btn.slider-button {
  background: none;
}
.awp-slider-caption{
  padding:0px 250px;
}
@media screen and (max-width: 992px) {
  .awp-slider-caption{
    padding:0px 50px;
  }
}
button.default-btn-one.btn.slider-button:hover {
  background: none !important;
}
#awp-slider .awp-slider-caption .awp-slider-btn button span {
  color: #fff;
}
#awp-slider .awp-slider-caption .awp-slider-btn button:hover span {
  color: #333;
}
#awp-slider .active .awp-slider-item h2 {
  animation-fill-mode: both;
  animation-duration: 1.2s;
  animation-name: fadeInLeft;
  animation-delay: 0.5s;
}
#awp-slider .active .awp-slider-item p {
  animation-fill-mode: both;
  animation-duration: 1.2s;
  animation-name: fadeInRight;
  animation-delay: 0.5s;
  animation-delay: 0.8s;
}
#awp-slider .active .awp-slider-item .awp-slider-btn {
  animation-fill-mode: both;
  animation-duration: 1.2s;
  animation-name: fadeInUp;
  animation-delay: 0.5s;
  animation-delay: 0.8s;
}

@media (max-width: 770px) {
  .awp-slider-caption h2 {
    font-size: 30px !important;
  }
}
/*---------------------------------------------------------
            End hero section
---------------------------------------------------------*//*# sourceMappingURL=awp-slider.css.map */